<div class="container">
    <div class="jumbotron">
        <h1>Thông tin chức vụ</h1>
        <br>
        <hr>
        <table class="table table-borderless mb-5">
            <thead class="thead-light">
                <th>Mã chức vụ</th>
                <th></th>
                <th>Tên chức vụ</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>

                <tr *ngFor="let position of PosList">
                    <td>{{position.idPos}}</td>
                    <td></td>
                    <td>{{position.namePos}}</td>
                    <td></td>
                    <td>
                        <!-- <button class="btn btn-info mr-3" (click)="editPos(position.idPos)">Sửa</button> -->
                        <button class="btn btn-info mr-3" (click)="PosEditDialog(position.idPos)" [mat-dialog-close] >Sửa</button>
                        <button class="btn btn-danger" (click)="deletePos(position.idPos,position.namePos)">
                            Xóa</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <br>
            <button type="button" class="btn btn-danger my-5"  [mat-dialog-close]=""> Đóng</button>
    </div>
</div>