<form [formGroup]="form" autocomplete="off">
  <br>
  <h1 class="text-center">
    <b>Thông tin chức vụ</b>
  </h1>
  <br>
  <br>
  <div class="container col-md-4">
      <!--ID,Tên-->
      <div class="input-group mb-4">
        <span class="input-group-addon mr-4" for="name"><i class="fa fa-users"></i></span>
        <input type="text" class="form-control" id="namePos" formControlName="namePos" placeholder="Tên chức vụ" required>
      </div>

      <div style="text-align:center;" class="mt-5">
        <button type="submit" (click)="onSubmit()" class="btn btn-success mx-3" >Đăng ký</button>
        <button type="reset" class="btn btn-info mx-3" >Đặt lại</button>
        <button type="button" (click)="ShowPosInfo()"class="btn btn-primary mx-3" >Thông tin</button>
      </div>
    <br>
  </div>

  
</form>