<form [formGroup]="editForm" autocomplete="off">
    <h2>Điều chỉnh thông tin chức vụ - phòng ban</h2>
    <hr>
    <div class="form-group col-md 8">
      <div class="input-group mb-4">
        <span class="input-group-addon mr-4" for="name"><i class="fa fa-users"></i></span>
        <input type="text" class="form-control" id="idAssign" formControlName="idAssign" placeholder="Mã phân công" readonly>
    
        <span class="input-group-addon mr-4 ml-5" for="name"><i class="fa fa-users"></i></span>
        <input type="text" class="form-control" id="idEmp" formControlName="idEmp" placeholder="Tên nhân viên" readonly>
      </div>

      <div class="input-group mb-4">
        <span class="input-group-addon mr-4"><i class="fa fa-sitemap"></i></span>
        <select name="idDep" formControlName="idDep" class="form-control mr-5"
          style="margin-left:-2px" required>
          <option value="0">--Phòng ban--</option>
          <option *ngFor="let department of DepList" value="{{department.idDep}}">{{department.nameDep}}</option>
        </select>

        <span class="input-group-addon mr-4 ml-5"><i class="fa fa-users"></i></span>
        <select class="form-control" name="idPos" formControlName="idPos" required>
          <option value="0">--Chức vụ--</option>
          <option *ngFor="let position of PosList" value="{{position.idPos}}">{{position.namePos}}</option>
        </select>
      </div>
    
      <br>
    </div>
    <div class="form-froup">
      <button type="submit" (click)="onSubmit()" [mat-dialog-close] class="btn btn-success mx-3">Lưu</button>
      <button type="button" class="btn btn-danger mx-3" [mat-dialog-close] >Đóng</button>
    </div>
    </form>