<nav>
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active fa fa-home" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
        aria-controls="nav-home" aria-selected="true"> Trang chủ</a>
      <a class="nav-item nav-link fa fa-user" id="nav-stack-tab" data-toggle="tab" href="#nav-stack" role="tab"
        aria-controls="nav-stack" aria-selected="false"> Quản lý nhân viên</a>
      <a class="nav-item nav-link fa fa-sitemap" id="nav-department-tab" data-toggle="tab" href="#nav-department"
        role="tab" aria-controls="nav-department" aria-selected="false"> Quản lý phòng ban</a>
      <a class="nav-item nav-link fa fa-users" id="nav-position-tab" data-toggle="tab" href="#nav-position" role="tab"
        aria-controls="nav-position" aria-selected="false"> Quản lý chức vụ</a>
    </div>
  </nav>