<div id="department-infor" class="panel-collapse collapse in" autocomplete="off" >
  <div class="panel-body">
    <table class="table table-bordered my-5">
      <thead>
        <tr>
          <th>Mã phòng ban</th>
          <th>Tên phòng ban</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr >
          <td class="font-italic text-center">
            Không có thông tin phòng ban
          </td>
        </tr> -->
        <tr > 
          <td>A</td>
          <td>B</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>