<div class="row">
  <div class="col-lg-8 col-xl-8 mx-auto">
    <div class="card card-signin flex-row my-5">
      <div class="card-body">
        <p><b>Information Technology Inc.(AIT) </b>- công ty 100% vốn đầu tư của công ty cổ phần Mitani Sangyo - được
          thành lập tại thành phố Hồ Chí Minh, Việt Nam vào tháng 3 năm 2001. Hoạt động cơ bản của công ty là phát triển
          các phần mềm ứng dụng trên Web, hơn nữa, công ty còn tiếp thu những kỹ thuật tiên tiến, thúc đẩy hoạt động
          nhằm cung cấp tới khách hàng sản phẩm có chất lượng cao, năng suất lao động cao với khẩu hiệu <b
            style="color:red;">“sản xuất sản phẩm chất lượng Nhật Bản tại Việt Nam ”.</b> </p>
        <div class="card-img mb-5">
          <img src="../../assets/img/ZEROBUG.jpg">
        </div>
        <p>Với thành tích trên 13 năm offshore development tại Việt Nam, công ty có thể ngay lập tức thực hiện offshore
          development mà không cần sự đầu tư lớn của các doanh nghiệp IT Nhật Bản.
        </p>
      </div>
    </div>
  </div>
</div>