<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mt-md-0 mt-3">

        <!-- Content -->
        
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold fa fa-phone-square"> Liên hệ</h5>
        <p >Tel： (+84)28-3911-0200/3911-0201 </p>
        <P>Fax： (+84)28-3911-0205 </P>   
            

      </div>

      <div class="col-md-4 mb-md-0 mb-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold fa fa-location-arrow"> Địa chỉ</h5>
          <p>Tầng 9, Tòa nhà Saigon Finance Center</p>
          <p>Số 9 đường Đinh Tiên Hoàng, Quận 1, Thành phố Hồ Chí Minh, Việt Nam</p>
              

        </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright
    <a href="http://www.aureole.vn/ait/vietnamese/index.html#" target="_blank" style="text-decoration: underline; color: black;"> Aureole Information Technology Inc.</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->