<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/login">
        <img src="../../assets/img/logo.png" class="logo-heading">
        <span class="ml-1" title="Trang chủ"> Aureole Information Technology</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <span><a class="nav-link" routerLink="/about" routerLinkActive="active menu" title="Thông tin">About</a></span>
        </li>
        <li class="nav-item">
          <span><a class="nav-link" routerLink="/contact" routerLinkActive="active menu" title="Liên hệ">Contact</a></span>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="demo" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
<ul class="carousel-indicators">
  <li data-target="#demo" data-slide-to="0" class="active"></li>
  <li data-target="#demo" data-slide-to="1"></li>
  <li data-target="#demo" data-slide-to="2"></li>
</ul>

<!-- The slideshow -->
<div class="carousel-inner">
    
  <div class="carousel-item active">
    <img src="./../../assets/img/cs1.jfif" alt="carousel-1" >
  </div>
  <div class="carousel-item" >
    <img src="./../../assets/img/cs2.jfif" alt="carousel-2">
  </div>
  <div class="carousel-item">
    <img src="./../../assets/img/cs3.jfif" alt="carousel-3">
  </div>
  <div class="carousel-caption d-none d-md-block">
      <h2 class="display-2">Mini Project</h2>
      <p class="lead">Quản lý phòng ban, nhân viên AIT</p>
    </div>
</div>

<!-- Left and right controls -->
<a class="carousel-control-prev" href="#demo" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#demo" data-slide="next">
  <span class="carousel-control-next-icon"></span>
</a>
</div>