	<header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container box_1620">
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-end">
              <li class="nav-item active"><a class="nav-link" href="http://localhost:4200/mainpage">Home</a></li> 
              <li class="nav-item"><a class="nav-link" href="http://localhost:4200/edit">Edit</a></li> 
              <li class="nav-item"><a class="nav-link" href="speaker.html">Speakers</a></li>
              <li class="nav-item"><a class="nav-link" href="http://localhost:4200">Log out</a></li>
              <form class="form-inline mt-2 mt-md-0" id="form-search">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </ul>
          </div> 
        </div>
      </nav>
    </div>
  </header>

  <form class="table-home">
  <div class="table-responsive">
      <h2>Thông tin nhân viên</h2>
      <div class="media border p-3">
          <img src="img_avatar3.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
          <div class="media-body">
            <h4>John Doe <small><i>Posted on February 19, 2016</i></small></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>      
          </div>
        </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
            <th>City</th>
            <th>Country</th>
            <th>Sex</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Anna</td>
            <td>Pitt</td>
            <td>35</td>
            <td>New York</td>
            <td>USA</td>
            <td>Female</td>
          </tr>
          <tr>
              <td>2</td>
              <td>Ben</td>
              <td>Jonhson</td>
              <td>30</td>
              <td>New York</td>
              <td>USA</td>
              <td>Male</td>
            </tr>
        </tbody>
      </table>
    </div>
  </form>
