<div id="stack-infor" class="panel-collapse collapse in">
    <div class="panel-body">
      <table class="table table-bordered my-5">
        <thead>
          <tr>
            <th>#</th>
            <th>Mã nhân viên</th>
            <th>Tên nhân viên</th>
            <th>Chức vụ</th>
            <th>Phòng ban</th>
            <th>Giới tính </th>
            <th>Ngày sinh</th>
            <th>Địa chỉ</th>
            <th>SĐT</th>
            <th>Email</th>
            <th>CMND</th>
            <th>Lương</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Anna</td>
            <td>Pitt</td>
            <td>35</td>
            <td>New York</td>
            <td>USA</td>
            <td>Female</td>
            <td>Anna</td>
            <td>Pitt</td>
            <td>35</td>
            <td>New York</td>
            <td>USA</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>