<form [formGroup]="form" autocomplete="off">
  <br>
  <h1 class="text-center">
    <b>Thông tin nhân viên</b>
  </h1>
  <br>
  <div class="container col-md-6">
    <!--Tên-->
    <div class="input-group mb-4">
      <span class="input-group-addon mr-4"><i class="fa fa-user-circle"></i></span>
      <input style="margin-left:5px;" class="form-control mr-5" id="nameEmp" formControlName="nameEmp" placeholder="Tên nhân viên" required>

      <span class="input-group-addon mr-4 ml-5"><i class="fa fa-user"></i></span>
      <select class="form-control" id="sex" formControlName="sex" required style="margin-left:5px" >
        <option value="">--Giới tính--</option>
        <option value="Nam"><b>Nam</b></option>
        <option value="Nữ"><b>Nữ</b></option>
      </select>

    </div>
    <br>

    <!--Ngày sinh, địa chỉ-->
    <div class="input-group mb-4">
      <span class="input-group-addon mr-4"><i class="fa fa-birthday-cake" style="margin-left:3px;"></i></span>
      <input style="margin-left:5px;" type="date" class="form-control mr-5" id="birth" formControlName="birth" required>

      <span class="input-group-addon mr-4  ml-5"><i class="fa fa-home"></i></span>
      <input class="form-control" id="address" formControlName="address" placeholder="Địa chỉ" style="margin-left:2px" required>
    </div>
    <br>

    <!--SDT,email-->
    <div class="input-group mb-4">
      <span class="input-group-addon mr-4"><i class="fa fa-phone"></i></span>
      <input class="form-control mr-5" id="phone" formControlName="phone" placeholder="Số điện thoại" style="margin-left:5px" required
       >
      <span class="input-group-addon mr-4 ml-5"><i class="fa fa-envelope"></i></span>
      <input class="form-control" id="mail" formControlName="mail" placeholder="Email" style="margin-left:5px" required >
    </div>
    <br>

    <!--CMND, Lương-->
    <div class="input-group mb-4">
      <span class="input-group-addon mr-4"><i class="fa fa-id-card"></i></span>
      <input class="form-control mr-5" id="idCard" formControlName="idCard" placeholder="Chứng minh thư" style="margin-left:5px" required>
      <span class="input-group-addon mr-4 ml-5"><i class="fa fa-signal"></i></span>
      <input class="form-control" id="salary" formControlName="salary" placeholder="Lương" style="margin-left:2px" required >
    </div>
    <br>

    <!--Password, Check-->
    <div class="input-group mb-4">
      <span class="input-group-addon mr-4"><i class="fa fa-lock "></i></span>
      <input type="password" class="form-control mr-5" id="password" formControlName="password" placeholder="Mật khẩu" style="margin-left: 10px"
        required >

      <span class="input-group-addon mr-4 ml-5"><i class="fa fa-key"></i></span>
      <select class="form-control" id="isAdmin" formControlName="isAdmin" required style="margin-left:5px">
        <option value="">--Phân quyền--</option>
        <option value="User"><b>User</b></option>
        <option value="Admin"><b>Admin</b></option>
      </select>
    </div>

    <div style="text-align:center;" class="mt-5">
      <button type="submit" (click)="onSubmit()" class="btn btn-success mx-3">Đăng ký</button>
      <button type="reset" class="btn btn-info mx-3">Đặt lại</button>
      <button type="button" (click)="ShowEmpInfo()" class="btn btn-primary mx-3">Thông tin</button>
    </div>
  </div>
</form>