<form [formGroup]="form" autocomplete="off" >
  <br>
  <h1 class="text-center">
    <b>Thông tin phòng ban</b>
  </h1>
  <br>
  <br>
  <div class="container col-md-4">
      <div class="input-group mb-4">
        <span class="input-group-addon mr-4"><i class="fa fa-sitemap"></i></span>
        <input class="form-control" id="nameDep" formControlName="nameDep" placeholder="Tên phòng ban" required>
      </div>

      <div style="text-align:center;" class="mt-5">
        <button type="submit" (click)="onSubmit()" class="btn btn-success mx-3" >Đăng ký</button>
        <button type="reset" class="btn btn-info mx-3" >Đặt lại</button>
        <button type="button" (click)="ShowDepInfo()" class="btn btn-primary mx-3" >Thông tin</button>
      </div>
    <br>
  </div>
</form>